.main-containter {
  max-width: 100%px;
  text-align: center;
}

.content {
  width: 600px;
}

thead {
  background-color: aquamarine;
}

th {
  height: 50px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;

}
.enviado{
  background-color: rgba(245, 227, 222, 0.603);
}


tr:hover {
  background-color: #f5f5f5;
}

.paginateButtons{
  margin-top: 10px;
  text-align: center;
}


